.custom-sidebar {
    background-color: black;
    width: 85px;
    /* You can adjust between 75px and 85px */
    position: fixed;
    /* Fixed position on the left */
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 1000;
    margin-left: 0;
    padding-left: 0;
}

.custom-sidebar .nav-link {
    color: white;
    background-color: black;
    text-align: center;
    font-size: 12px;
    align-items: center;
    border-radius: 0;
    width: 85px;
    transition: background-color 0.3s, color 0.3s;
    /* Smooth transition for hover and active states */
}

.custom-sidebar .nav-link i {
    color: red;
    /* Red color for icons */
    margin-bottom: 5px;
    /* Space between icon and text */
}

.custom-sidebar .nav-link:hover {
    background-color: white;
    color: red;
}

.custom-sidebar .nav-link.active {
    background-color: black;
    color: white;
}

.custom-sidebar .nav-link.active i {
    color: white;
}


/* Specific styling for Account icon */
.nav-item .fa-user-circle {
    color: white;
}


.main-content {
    margin-left: 85px;
    overflow-y: auto;
    height: 100vh;
    padding-top: 0;
    padding-left: 40px;
    padding-right: 40px;
}


.custom-container {
    text-align: center;
    background-color: black;
    /* Box background color */
    color: white;
    /* Text color */
    width: 80px;
    /* Width of the box */
    height: 100px;
    /* Height of the box */
    border: none;
    /* Border for the box */
    border-radius: 5px;
    /* Rounded corners for the box */
}

.account-sidebar {
    width: 190px;

    display: flex;
    flex-direction: column;
}

.account-link {
    color: rgb(211, 14, 14);
    text-decoration: none;
    padding: 8px 10px;
    /* Some padding for aesthetics */
    display: block;
    /* To make the entire area clickable */
    margin-bottom: 15px;
    /* Space between the links, adjust between 15-20px as needed */
}

.account-link:hover {
    text-decoration: underline;
}

.account-link.active {
    color: black;
    border-left: 3px solid black;
    /* Black border to the left */
    padding-left: 7px;
    /* Adjust padding to keep width consistent */
}

.account-link.selected {
    border-left: 2px solid black;
    /* Add a 3px black border to the left */
    padding-left: 5px;
    /* Adjust padding to account for the border and maintain alignment */
}

a.selected {
    border-left: 2px solid black;
}

.float-end a {
    text-decoration: none;
}

.block {
    width: 15rem;
    height: 10rem;
    margin: 2rem auto;
    padding: 2;
    background: cyan;
    display: block;
}

.card-spacing {
    margin-right: 50px;
}

.sticky-topbar {
    position: sticky;
    top: 0;
    z-index: 1000;
    padding: 0;
    background-color: rgba(255, 255, 255, 0.5);
    border-bottom: 1px solid #777777;
}

.breadcrumb-bar {
    top: 0;
    z-index: 1000;
    padding: 0;
    background-color: rgba(255, 255, 255, 0.5);
    border-bottom: 1px solid #777777;
}

body,
html {
    margin: 0;
    padding: 0;
}

.card {
    width: 260px;
    /* Set width between 250 and 270 pixels */
}






/* Text css */
#kanbasNav {
    width: 85px;
    flex: none;

}

#kanbasNav.show {
    left: 0;
    /* Show it when .show class is added */
}


#courseNav {
    width: 150px;
    flex: none;
    /* This ensures the width doesn't change even in a flex container */
}

.kanbasModal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    /* full width of the viewport */
    height: 100vh;
    /* full height of the viewport */
    background-color: rgba(0, 0, 0, 0.5);
    /* semi-transparent background */
    z-index: 2000;
    display: none;
    /* start hidden */
}

.kanbasContent {
    width: 100%;
    height: 100vh;
    background-color: white;
    box-shadow: none;
    /* remove shadow since it's now fullscreen */
}

.close-btn {
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 2001;
    /* ensure the close button is above everything else */
}

.kanbasEmbedded {
    text-align: center;
    background-color: white;

    /* Box background color */
    color: red;
    /* Text color */
    width: 300px;
    /* Width of the box */
    height: 100px;
    /* Height of the box */
    border: none;
    /* Border for the box */
    border-radius: 5px;
    /* Rounded corners for the box */
}

.kanbasEmbedded .nav-link {
    color: red
}

.btn-primary {
    background-color: black
}


.dropdown-icon-position {
    position: absolute;
    right: 10px;
}

.crumbbar {
    position: relative;  
    left: 85px;        
    z-index: 10;         
}

/* Assignment */
.with-border {
    position: relative;
    padding-left: 40px !important; /* Increased the padding */
    border-left: 2px solid green !important;
}
.icon-left {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
}
.content-text {
    display: inline-block;
    vertical-align: middle;
}
.sub-text {
    font-size: 0.8em;
    color: grey;
}
.icon-right {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
}
.oval-progress {
    display: inline-block;
    padding: 8px 16px;
    background-color: #D3D3D3;
    border-radius: 20px;
    font-size: 12px;
    text-align: center;
}

.custom-checkbox-container {
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;  /* Optional: for rounded borders */
}

.nav-tabs .nav-link {
    color: red;  /* Set color for unselected tabs */
}

.nav-tabs .nav-link.active {
    color: black; /* Set color for the selected tab */
}

.nav-tabs .nav-link:hover {
    color: black; /* Set color for the selected tab */
}
