.custom-sidebar {
    background-color: black;
    width: 85px;
    /* You can adjust between 75px and 85px */
    position: fixed;
    /* Fixed position on the left */
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 1000;
    margin-left: 0;
    padding-left: 0;
}

.custom-sidebar .nav-link {
    color: white;
    background-color: black;
    text-align: center;
    font-size: 12px;
    align-items: center;
    border-radius: 0;
    width: 85px;
    transition: background-color 0.3s, color 0.3s;
    /* Smooth transition for hover and active states */
}

.custom-sidebar .nav-link i {
    color: red;
    /* Red color for icons */
    margin-bottom: 5px;
    /* Space between icon and text */
}

.custom-sidebar .nav-link:hover {
    background-color: white;
    color: red;
}

.custom-sidebar .nav-link.active {
    background-color: black;
    color: white;
}

.custom-sidebar .nav-link.active i {
    color: white;
}

/* Specific styling for Account icon */
.nav-item .fa-user-circle {
    color: white;
}

/* Set the default color of all icons to red */
.nav-item .fas {
    color: red;
}


.custom-container {
    text-align: center;
    background-color: black;
    /* Box background color */
    color: white;
    /* Text color */
    width: 80px;
    /* Width of the box */
    height: 100px;
    /* Height of the box */
    border: none;
    /* Border for the box */
    border-radius: 5px;
    /* Rounded corners for the box */
}



.main-content {
    margin-left: 85px;
    overflow-x: hidden;
}

.offcanvas {
    position: fixed;
    top: 0;
    left: -300px;
    /* starts off the screen */
    width: 250px;
    height: 100vh;
    background-color: #333;
    color: #fff;
    overflow-y: auto;
    transition: left 0.3s;
    z-index: 1001;
    /* Ensure it appears above other content */
}

.offcanvas a {
    color: #fff;
    text-decoration: none;
    padding: 10px 15px;
    display: block;
}

.offcanvas a:hover {
    background-color: #555;
}